.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 200px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}


.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toolbar {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  background-color: #084c61;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.toolbar p {
  margin: 0 20px;
}

.app__heading {
  text-align: center;
  color: white;
}

.app__body {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app__body_content {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__navigation-bar {
  height: 50px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
}

.app__tabs_button {
  height: 100%;
  width: 100%;
  color: #000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-left: 1px solid #000;
}

.app__navigation-bar .app__tabs_button:first-of-type {
  border-left: none;
}
.app__tabs_button:hover {
  color: #db504a;
}

.app__navigation-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}
